@use './styles/global';
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@700&display=swap");

html {
    background-color: var(--white-color);
}
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
    color: unset;
}

button{
  background-color: transparent;
  border: none;
}

li {
    list-style: none;
}




body {
  // background-color: #c0d8d8;
}


