@use "variables" as *;


footer{


  position: relative;
   margin-top: 169px;
  background-color: var(--creame-color);

 .footer__wave {
  position: absolute;
  top: -169px;
  left: 0;
  right: 0;
  width: 100%;
  height: 269px;
  background-image: url('./../assets/images/footer_wave.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;

  animation: wave 2s ease-in-out infinite alternate both;

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
 }

  .footer__container{
    gap: calc(var(--gap) * 2);
    padding: calc(var(--gap) * 2) ;
  }
  .footer__container,
  .footer__top{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__top {
    gap: var(--gap);
  }

  .footer__center{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    padding: var(--gap) 0;
    border-bottom: 2px solid var(--grey-color);
  }

  .footer__navigation ul {
    // flex-wrap: wrap;
       display: flex;
    gap: calc(var(--gap) * 2);
    font: var(--smaller-font);
    text-transform: uppercase;

    // li {
    //   display: flex;
    //   width: 80px;
    //   align-self: start;
    // }
  }
  .footer__language {
    width: 208px;
    text-align: center;
  }
  .footer__buttons{
    display: flex;
    gap: var(--gap);
    margin: calc(var(--gap) * 2);
  }
  .footer__bottom {
    a {
      text-decoration: underline;
    }
  }
}