@use "variables" as *;


footer{
 margin-top: auto;

  .footer__container{
    gap: calc(var(--gap) * 2);
    padding: calc(var(--gap) * 2) ;
  }
  .footer__container,
  .footer__top{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__top {
    gap: var(--gap);
  }

  .footer__center{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    padding: var(--gap) 0;
    border-bottom: 2px solid var(--grey-color);
  }

  .footer__navigation ul {
    // flex-wrap: wrap;
       display: flex;
    gap: calc(var(--gap) * 2);
    font: var(--smaller-font);
    text-transform: uppercase;

    // li {
    //   display: flex;
    //   width: 80px;
    //   align-self: start;
    // }
  }
  .footer__language {
    width: 208px;
    text-align: center;
  }
  .footer__buttons{
    display: flex;
    gap: var(--gap);
    margin: calc(var(--gap) * 2);
  }
  .footer__bottom {
    a {
      text-decoration: underline;
    }
  }
}