@use "variables" as* ;

header, main, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}



header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);

}
.container{
    width: 100%;

    @media (min-width: $bigger-mobile) {
        width: 540px;
    }

    @media (min-width: $tablet) {
        width: 720px;
    }

    @media (min-width: $desktop) {
        width: 1170px;
    }
    
    @media (min-width: $bigger-desktop) {
        width: 1320px;
    }
}

.navigatoin ul {
    display: flex;
    gap: var(--gap);

    font: var(--smaller-font);
    text-transform: uppercase;
    }