@use "variables" as var;

.link{
  color: var(--black-color);
  transition: var(--transition);
  font-weight: 700;

      &:hover,
      &:active,
      &:focus,
      &_active {
    color: var(--violett-color);
  }
}

.link_active {
  color: var(--violett-color);
}