 
 // breakpoints
$bigger-mobile: 576px;
$tablet: 768px;
$bigger-tablet: 992px;
$desktop: 1200px;
$bigger-desktop: 1400px;


:root{
//   --bigger-mobile:576px;
//   --tablet: 768px;
//  --desktop: 1200px;
//  --bigger-desktop: 1400px;
 

 // spacers
  --transition: .3s;
 }
 
