 
 // breakpoints
$bigger-mobile: 576px;
$tablet: 768px;
$bigger-tablet: 992px;
$desktop: 1200px;
$bigger-desktop: 1400px;


:root{
//   font
  --smaller-font: 700 12px 'Inter', sans-serif;

 

 // spacers
  --gap: 15px;

  --transition: .3s;
 }
 
